<div class='panel panel-default'>
  <div class='panel-body'>
    <div id='text-centered'>
      <h2>
        <strong id='text-primary'>FiscalGang</strong>
        <br>
        <h6>
          <br>
          Versione 1.1.2 (2020)
        </h6>
      </h2>
      <p>
        <strong>
          Applicativo web per la gestione di schede ISEE(CAAF)
        </strong>
      </p>
      <hr id='hr-grey'>
    </div>
    <p>
      <small>
        Analisi e Programmazione :
      </small>
      <br>
      <strong>
        <a href="MAILTO: davodavosky@gmail.com">
          Davo Davosky
        </a>
      </strong>
      <br>
      <br>
    </p>
    <hr id='hr-grey'>
    <p>
      <small>
        <strong>C.E.S.I. C.G.I.L. Friuli Venezia Giulia</strong>
        - Via Antonio Vidali,1 - 34129 Trieste (TS) E-Mail: assistenza@fvg.cgil.it Tel: +39 335 6633128
      </small>

    </p>
  </div>
</div>
